<p class="show-title">
 <strong>Title:</strong> <%= @book.title %>
</p>

<p class="show-body">
 <strong>Body:</strong> <%= @book.body %>
</p>

<p class="show-edit_back">
 <a href="">Edit</a> | 
 <a href="/books">Back</a>
</p>
